<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <h3>基礎運用</h3>
    <div class="myapp">
        {{ message }}
    </div>
    <h3>if & for 使用</h3>
    <div id="VueForIf">
        <h4>水果列表</h4>
        <h5 v-if="showVue">特價中</h5>
        <ol>
            <li v-for="Item in sellItems">
                <!-- / v-for 子物件放在前面 / -->
                {{ Item.itemName }} : {{ Item.price }} 元
            </li>
        </ol>
    </div>
    <h3>v-model 使用</h3>
    <div id="VueModel">
        <h4>您最喜歡吃的是： {{ message }} </h4>
        <input type="text" v-model='message'>
    </div>
    <h3>點擊事件 使用</h3>
    <div id="VueClick">
        <div>你最愛的水果是： {{ message }}</div>
        <button v-on:click="Vuecharge('蘋果')">蘋果</button>
        <button v-on:click="Vuecharge('芭樂')">芭樂</button>
        <button v-on:click="Vuecharge('西瓜')">西瓜</button>
        <button @click="Vuecharge('荔枝')">荔枝</button>
    </div>
    <h3>組件 使用</h3>
    <div id="VueComponent">
        <ol>
            <game-item v-for="item in allgames" v-bind:game="item"></game-item>
        </ol>
    </div>
    <h3>過濾器filters 使用</h3>
    <div id="VueFilters">
        <div>{{ message }}</div>
        <div>{{ message | tobig }}</div>
        <div>{{ message | tobig | toaddworld }}</div>
        <div>{{ num }}</div>
        <div>{{ num | x10 }}</div>
    </div>
    <h3>計算 使用</h3>
    <div id="VueCompute">
        <div>任天堂價錢：{{ price }} 含稅價格為：{{ intotax }}</div>
    </div>
<script>
    var myapp = new Vue({
        el:'.myapp',
        data:{
            message:'Hollow Vue.js word'
        }
    });
    var VueForIf = new Vue({
        el:'#VueForIf',
        data:{
            showVue:true,
            sellItems:[
                {itemName:'蘋果',price:50},
                {itemName:'芭樂',price:30},
                {itemName:'香蕉',price:15},
            ],
        }
    });
    var VueModel = new Vue({
        el:'#VueModel',
        data:{
            message:'巧克力'
        }
    });
    var VueClick = new Vue({
        el:'#VueClick',
        data:{
            message:'香蕉'
        },
        methods: {
            Vuecharge: function(e) {
                this.message = e ;
            }
        }
    });
    Vue.component('game-item',{
        props: ['game'],
        template: '<li>{{ game.name }}</li>'
    });
    var VueComponent = new Vue({
        el:'#VueComponent',
        data:{
            allgames:[
                { name: '接龍' },
                { name: '踩地雷' },
                { name: '象棋' }
            ]
        }
    });
    var VueFilters = new Vue({
        el : '#VueFilters',
        data : {
            message : 'abc',
            num : 10
        },
        filters: {
            tobig : function (e) {
                return e.toUpperCase();
            },
            toaddworld : function (e) {
                return e + 'end';
            },
            x10 : function (e) {
                return e * 10 ;
            }
        }
    });
    var VueCompute = new Vue({
        el:"#VueCompute",
        data:{
            price : 1000
        },
        computed:{
            intotax : function (e) {
                return this.price * 1.05;
            }
        }
    });
</script>
</body>
</html>